<h1>{{@model.name}} ({{@model.bagCards.length}} cards)</h1>

<style>
.bags-show-card-list { display: flex; list-style-type: none; gap: 20px; flex-wrap: wrap; }
.bags-show-card { height: 120px; width: 86px; position: relative; }
.bags-show-card:hover { z-index: 1; }
.bags-show-card img { max-height: 120px; position: absolute; top: 0; left: 0; }
.bags-show-card:hover img { max-height: 240px; top: -50%; left: -50%; }
</style>

<CardFilter @select={{this.addCard}} />

<hr />

{{#if (eq this.model.category "deck")}}
  <BagDeck @cards={{this.cardsWithInfo}} @onRemove={{this.remove}} />
{{else if (eq this.model.category "binder")}}
  <BagBinder @cards={{this.model.bagCards}} @onRemove={{this.remove}} @onAdd={{this.addCard}} />
{{else}}
  <BagETB @cards={{this.model.bagCards}} @onRemove={{this.remove}} @onAdd={{this.addCard}} />
{{/if}}
